# Standard Normal Distribution - Lab

## Introduction

In the previous lesson, we looked at the formula and a few toy examples to explain an observation's standard score and data standardization for normally distributed data. This lab, will shall standardize and visualize some normal distributions before we see standardization's real impact in machine learning in upcoming lessons. 

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before-after standardization to visually inspect the results. 

## Let's get started

> A Z-score tells us “how many standard deviations above or below the mean.” Every time you obtain a Z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

**1. Load, visualize and give general comments on the dataset. Use pandas for loading and inspecting the data.**

In [8]:
import matplotlib as plt
import pandas as pd
df= pd.read_csv('yield.csv')
df.info()
df.describe()

# Import libraries

# Read the yield data as a dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
0    5000 non-null float64
dtypes: float64(1)
memory usage: 39.1 KB

                 0
count  5000.000000
mean     42.407624
std       6.003697
min      21.931212
25%      38.371895
50%      42.352304
75%      46.458478
max      65.548170

In [35]:
# Your comments about the data here.

**2. Write a simple sentence to explain what does each value represent in this data?**

In [ ]:
# Your answer here

**3. What does the 3-sigma rule say about yields of trees ?**

In [13]:
upper = df.mean()+3*(df.std())
lower = df.mean()-3*(df.std())
print(upper, lower)
# Perform any calculations necessary here

0    60.418713
dtype: float64 0    24.396534
dtype: float64

In [23]:
# 99% of the trees will yield 24.4 = 60.4 pounds of apples

**4. Compute the Z-score for a tree yielding 35 pounds of apples. Interpret this Z-score.**

In [15]:
z = (35-df.mean())/(df.std())
print(z)

0   -1.233844
dtype: float64

In [3]:
#Slightly below average yield
# Interpret the result

**5. Suppose a tree has a Z-score of 1.85. Interpret this Z-score. What is the yield of this tree?**

In [16]:
tree_yield = df.mean()+1.85*df.std()
print(tree_yield)
# Interpret the z score

0    53.514462
dtype: float64

In [5]:
# Calculate yield

In [6]:
# What is the yield ?

**6. Convert each tree’s yield is converted to a Z-score so that “new” derived variable is “Z-score for weight”. The units are still the apple trees. For the data set of all Z-scores:**
* What is the shape? 
* The mean? 
* The standard deviation?

In [17]:
import sys
!{sys.executable} -m pip install seaborn
import seaborn as sns

z_data = [(x - df['0'].mean())/df['0'].std() for x in df['0']]
sns.distplot(z_data)
mean = np.mean(np.array(z_data))
sd = np.std((np.array(z_data)))
print ('Mean:', round(mean,2))
print ('SD:', round(sd,2))
# Give your solution here

NameError: name 'sns' is not defined

In [ ]:
# Your observations

## Summary 

In this lab, you practiced your knowledge on the standard normal distribution!